.hero{
    position: relative;
    height: 980px;
}
.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);


}

.hero-caption{
    position: absolute;
    width: 100%;
    /* margin-top: 100px; */
    /* padding-top: 100px; */
    padding-left: 6%;
    bottom: 0;
}
.caption-img{
    width: 90%;
    max-width: 420px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}

.hero-btns{
    display: flex;
    gap: 10px;
    /* margin-bottom: 150px; */
}

.hero-btns .btn img{
    width: 25px;

}

.hero-btns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: rgb(255, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.hero-btns .btn.dark-btn{
    color: #fff;
    background: #6d6d6e94;
}


.hero-btns .btn:hover{
    background: #ffffffbf;
}

.hero-btns .dark-btn:hover{
    background: #6d6d6eb3;
}

.more-cars {
    padding-left: 6%;
}

.cards {
    margin-top: 10px;
}





@media (max-width: 1024px) {
    .hero-btns{
        margin-bottom: 30px;
    }
}
@media (max-width: 800px){
    .hero{
    position: relative;
    height: 600px;
}
    .hero-caption{
        padding-left: 4%;
    }
    .caption-img{
        margin-bottom: 10px;
        width: 40%;
    }
    .hero-caption p{
        font-style: 12px;
        margin-bottom: 10px;
 
    }
     .btn img{
        width: 20px;

    }
    .more-cars{
        padding-left: 4%;
    }
}
@media (max-width: 500px){
.hero{
    position: relative;
    height: 480px;
}
    .caption-img{
        display: none;

    }
    .hero-btns .btn img{
        width: 15px;
    }
    .hero-btns .btn{
        padding: 4px 10px;
        gap:5px;
        font-style: 10px;
    }
}



/* .hero{
    position: relative;
}

.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero-caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}

.caption-img{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}

.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}

.hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 150px;
}

.hero-btns .btn img{
    width: 25px;

}

.hero-btns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: rgb(255, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.hero-btns .dark-btn{
    color: #fff;
    background: #6d6d6e94;
}

#play_icon{
    filter: invert(100%);
}
.hero-btns .btn:hover{
    background: #ff2c2cd3;
}

.hero-btns .dark-btn:hover{
    background: #6d6d6e66;
}

.more-cards {
    padding-left: 6%;
}

.cards {
    margin-top: 10px;
}   */